body {
    /* background: #fae49e; */
    border: white 10px solid;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.jumbotron {
    background: url("images/coder-connection-daylight-225767.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
   
}
#headertext {
    text-align: center;
    margin: 0 auto;
}
.container {
    width: 100%;
}
.threeCards {
    justify-content: center;
    display: inline-block;
    width: 100%;
    height: 100%;
   
    
}
.cardz {
    border-bottom: #ffffff solid 0px;
    /* background:#e7c6cf; */
    width: 600px;
    height: 400px;
    margin: 20px
}
#card1 {
    float: left;
}
#card2 {
    float: right;
}
#card3 {
    float: left;
}
.dotstyle ul {
position: relative;
display: inline-block;
margin: 0;
padding: 0;
list-style: none;
cursor: default;
}
.dotstyle li {
position: relative;
display: block;
float: left;
margin: 0 16px;
width: 16px;
height: 16px;
cursor: pointer;
}
.dotstyle li a {
top: 0;
left: 0;
width: 100%;
height: 100%;
outline: none;
border-radius: 50%;
background-color: #fff;
background-color: red;
text-indent: -999em;
cursor: pointer; /* make the text accessible to screen readers */
position: absolute;
}

.div1{
  /* The image used */
  background-image: url("images/coder-connection-daylight-225767.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}